<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit the Restaurant</title>
</head>

<body>
    <h1>Edit the Restaurant</h1>
    <form action="#" method="post">
        <label for="name">Enter the edited name </label>
        <input type="text" name="name" id="name" placeholder="{{ restaurant_name.name }}">
        <input type="submit" value="Edit">
        <a href="#">Cancel</a>
    </form>
</body>

</html>