<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New MenuItem</title>
</head>

<body>
    <h1>Enter New MenuItem Details:</h1>
    <form action="#" method="post">
        <div class="name" style="padding: 8px;">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="description" style="padding: 8px;">
            <label for="description">Description</label>
            <input type="text" name="description" id="description">
        </div>
        <div class="price" style="padding: 8px;">
            <label for="price">Price</label>
            <input type="text" name="price" id="price">
        </div>
        <div class="course">
            <p>Course:</p>
            <input type="radio" id="appetizer" name="course" value="appetizer">
            <label for="appetizer">Appetizer</label><br><br>
            <input type="radio" id="entree" name="course" value="entree">
            <label for="entree">Entree</label><br><br>
            <input type="radio" id="desert" name="course" value="desert">
            <label for="desert">Desert</label><br><br>
            <input type="radio" id="beverage" name="course" value="beverage">
            <label for="beverage">Beverage</label><br><br>
        </div>
        <div class="submit">
            <input type="submit" value="Create">
        </div>
    </form>
</body>

</html>